<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    {% if user %}
        <h1>Hola, {{ user.name }}</h1>
        <a href="{{ url_for('logout') }}">
            <button>Logout</button>
        </a>
        <a href="{{ url_for('crear') }}">
            <button>Crear correo</button>
        </a>
        
        <!-- Mostrar la lista de cabeceras -->
        <h2>Cabeceras del autor ({{ user.email }})</h2>
        {% if cabeceras %}
            <ul>
                {% for cabecera in cabeceras %}
                    <li>
                        <!-- Botón que redirige a la vista de detalle del mensaje con el ID de la cabecera -->
                        <a href="{{ url_for('mensaje', id=cabecera._id['$oid']) }}">
                            <button>Mensaje</button>
                        </a>
                        <strong>De:</strong> {{ cabecera.de }} <br>
                        <strong>Para:</strong> {{ cabecera.para }} <br>
                        <strong>Asunto:</strong> {{ cabecera.asunto }} <br>
                        <strong>Fecha:</strong> {{ cabecera.stamp['$date'] }} <br>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay cabeceras disponibles para este autor.</p>
        {% endif %}
        
    {% else %}
        <h1>Bienvenido</h1>
        <a href="{{ url_for('login') }}">
            <button>Login con Google</button>
        </a>
    {% endif %}
</body>
</html>
